* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(211, 212, 212);
}

#logo {
  width: 5%;
  vertical-align: middle;
  margin: 10px 10px;
}

.container {
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
}
