/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(223, 225, 225);
  font-family: 'Roboto';
}

.container-main{
    width: 80%;
    margin: 0px auto;
}

/* header */

#logo {
  width: 5%;
  vertical-align: middle;
  margin: 10px 10px;
}

.container-logo {
  vertical-align: middle;
  background-color: white;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 44px;
}

/* buttons */

.container-buttons{
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
}

.container-buttons button{
    padding: 6px 10px; 
    border: none;
    border-radius: 5px;
}    

#button1{
    margin: 15px 5px 15px 80px;
    background-color: rgb(71, 173, 241);
    color: white;
    padding: 9px 13px;;
   
}

#button2{
    border: 3px solid rgb(180, 180, 180);
}

/* list */

.container-list{
    margin-top: 2px;
    background-color: white;
    border-radius: 5px;
}

.list{
    list-style: none;
    padding: 20px 80px;
}

.sub-list{
    list-style: none;
}

.check{
    border: 3px solid green;
    border-radius: 50%;
    margin-left: 2px;
    color: green;
    padding: 3px;
}

.cross{
    border: 3px solid red;
    border-radius: 50%;
    margin-left: 2px;
    color: red;
    padding: 3px;
}

.primary-li{
    margin-bottom: 40px;
}

li{
    margin-top: 25px;
}


/* type of button */

.btn-blu{
    background-color: rgb(69, 171, 234);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
}

.btn-violet{
    background-color: rgb(156, 114, 228);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
}

.btn-green{
    background-color: rgb(101, 192, 170);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
}

.btn-orange{
    background-color: rgb(242, 158, 51);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
}

.btn-pink{
    background-color: rgb(216, 99, 161);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
}

.btn-pea{
    background-color: rgb(176, 201, 38);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
}